<h1>Basket</h1>
<div id="id">
  {{#if courses.length }}

  <table>
    <thead>
      <th>Name</th>
      <th>Quantity</th>
      <th>Dealings</th>
    </thead>
    <tbody>
      {{#each courses}}

      <tr>
        <td>{{title}}</td>
        <td>{{count}}</td>
        <td>
          <button class="btn btn-small js-remove" data-id="{{ id }}">Delete course</button>
        </td>
      </tr>

      {{/each}}
    </tbody>
  </table>

  <p>
    <strong>
      Price: <span class="price">{{price}}</span>
    </strong>
  </p>

  {{else}}
  <p>Cart is empty</p>
  {{/if}}
</div>
